.cardPopup{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position:fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    z-index: 100000;
}

.cardPopup.active{
    pointer-events: all;
    opacity: 1;
    display: flex;
}

.cardPopupContent{
    background-color: #FFF;
    position: relative;
    border-radius: 12px;
    display: flex;
    max-height: 90vh;
    padding: 40px 70px 40px 10px;
}

.cardPopupInfoHolder{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardPopupImg{
    height: 380px;
    width: auto;
}

.cardPopupName{
    font-size: 24px;
    margin-bottom: 20px;
}

.cardPopupAuthor{
    color: rgb(171, 171, 171);
    margin-bottom: 25px;
    font-size: 20px;
}

.cardPopupPrice{
    color: rgb(47, 84, 123);
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 20px;
}

.cardPopupButtonHolder{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cardPopupCountButton{
    font-size: 25px;
    color: white;
    background-color: rgb(231, 210, 225);
    padding: 10px 70px;
    border-radius: 15px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.cardPopupCartButton{
    font-size: 25px;
    color: white;
    background-color: rgb(69, 69, 175);
    padding: 10px 70px;
    border-radius: 15px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.cardPopupCartButton:hover,
.cardPopupCountButton:hover{
    opacity: 0.7;
}


.cardPopupCloser{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.cardPopupCloser:hover{
    opacity: 0.6;
}

.cardPopupCountHolder{
    border-radius: 10px;
    position: relative;
    bottom: 20px;
    display: flex;
    transform: scale(1, 0);
    transition: transform 0.3s ease;
    text-align: center;
}

.cardPopupCountHolder.open{
    transform: scale(1,1);
}

.cardPopupCount:last-child{
    border-bottom: none;
}

.cardPopupCount{
    width: 100%;
    cursor: pointer;
    padding: 10px 0;
}   

.cardPopupAdd{
    color: rgb(112, 112, 112);
    margin-bottom: 10px;
    font-size: 17px;
    max-width: 480px;
}

.cardPopupAddLast{
    margin-bottom: 30px;
    text-align: left;
}

@media (max-width: 970px){
    .cardPopupAddLast{
        overflow: scroll;
        max-height: 60px;
    }

    .cardPopupImg{
        height: 280px;
        width: auto;
    }

    .cardPopupAdd{
        max-width: 380px;
    }

    .cardPopupContent{
        background-color: #FFF;
        position: relative;
        border-radius: 12px;
        display: flex;
        max-height: 90vh;
        padding: 40px 70px 40px 10px;
    }
}

@media (max-width: 800px){
    .cardPopupImg{
        height: 220px;
        width: auto;
    }

    .cardPopupContent{
        padding: 20px 70px 20px 10px;
    }
}

@media (max-width: 730px){
    .cardPopupImg{
        height: 220px;
        width: auto;
    }

    .cardPopupContent{
        padding: 20px 30px 20px 10px;
    }

    .cardPopupCountHolder{
        max-width: 150px;
    }

    .cardPopupCountButton{
        font-size: 15px;
        padding: 10px 20px;
    }
    
    .cardPopupCartButton{
        font-size: 15px;
        padding: 10px 40px;
    }

    .cardPopupCloser{
        right: 10px;
        top: 10px;
    }
    
}

@media (max-width: 660px){
    .cardPopupImg{
        height: 180px;
        width: auto;
    }

    .cardPopupName{
        font-size: 18px;
    }
    
    .cardPopupContentHolder{
        max-width: 280px;
    }
}