.registrationWrap{
    margin: 50px 15px 50px;
    text-align: center;
}

.registrationTitle{
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    margin:0;
    margin-bottom: 20px;
}

.registrationInputHolderBase{
    margin-bottom: 40px;
}

.registrationInput{
    width: 380px;
    border: 1px solid #BBB;
    height: 40px;
    padding-left: 20px;
    border-radius: 7px;
    font-size: 14px;
    margin-bottom: 25px;
    transition: all 0.4s ease;
}

.registrationInput:hover{
    -webkit-box-shadow: 0px 0px 9px -1px rgba(255, 171, 249, 0.4);
    -moz-box-shadow: 0px 0px 9px -1px rgba(255, 171, 249, 0.4);
    box-shadow: 0px 0px 9px -1px rgba(255, 171, 249, 0.4);
}

.registrationButton{
    width:380px;
    padding: 12px 0;
    background-color: white;
    color: rgb(57, 124, 91);
    font-size: 16px;
    font-weight: 700;
    cursor:pointer;
    margin-top: 10px;
    border: 2px solid rgb(57, 124, 91);
    opacity: 1;
    transition: opacity 0.3s ease;
    margin-bottom: 30px;
}

.registrationButton.disabled{
    cursor: auto;
    opacity: 0.5;
}

.registrCheck{
    position: relative;
    right:58px;
    margin-bottom: 10px;
}

.registrationButton:hover{
    opacity: 0.5;
}

.registrationCheckboxLink{
    text-decoration: none;
    color:rgb(173, 188, 236);
    transition: color 0.3s ease;
}

.registrationCheckboxLink:hover{
    color:rgb(30, 71, 207);
}