.card{
    padding:15px;
}

.card.simple:hover{
    border: 1px solid rgb(215, 215, 215);
    border-radius: 10px;
    padding: 14px;
}

.card.slider:hover{
    padding: 15px;
}

.card:hover .cardAddToCart{
    opacity: 1;
}

.card:hover .cardAddToCart:hover{
    cursor: pointer;
    opacity: 0.65;
}

.cardImg{
    height: 180px;
    width: auto;
}

.cardImgHolder{
    margin-bottom: 10px;
}

.cardName{
    margin-bottom: 7px;
    max-width: 160px;
    color: rgb(95, 95, 95);
}

.cardAuthor{
    font-size: 14px;
    color: rgb(171, 171, 171);
    margin-bottom: 7px;
}

.cardPrice{
    font-weight: 700;
    color: rgb(47, 84, 123);
}

.cardInfoHolder{
    text-align: left;
    margin-bottom: 15px;
}

.cardAddToCart{
    opacity: 0;
    padding: 6px 15px;
    border: 1px solid rgb(64, 140, 221);
    background-color: #FFF;
    color: rgb(64, 140, 221);
    border-radius: 5px;
}

@media (max-width: 800px){
    .card.slider .cardImg{
        width: 120px;
        height: auto;
    }
}

@media (max-width: 700px){
    .cardAuthor{
        font-size: 12px;
    }

    .card.slider{
        font-size: 12px;
        margin-bottom: -40px;
    }
}

@media (max-width: 600px){
    .cardAuthor{
        font-size: 10px;
    }

    .card.slider{
        font-size: 10px;
        margin-bottom: -60px;
    }
}