.kid{
    margin: 150px 100px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.manSelect{
    position: absolute;
    right: 40px;
    top: -70px;
    border: 1px solid black;
    border-radius: 5px;
}

.kidTitle{
    text-align: center;
    margin-top: 55px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.kidBox{
    position: absolute;
    left: 170px;
    top: 280px;
}

.kidBoxTitle{
    margin-left: 14px;
    font-weight: 700;
    color: #9c27b0
}