.headerHolder{
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.headerHolderImg{
    width: 100px;
    height: auto;
}

.headerHolderInput{
    background-color: #EEE;
    width: 570px;
    height: 50px;
    border-radius: 25px;
    padding-left: 25px;
    font-size: 16px;
}

.headerItemsImgHolder{
    position: relative;
}

.headerHolderSearch{
    position: absolute;
    right: 20px;
    top: 16px;
}

.headerItemsEnterHolder{
    display: flex;
    align-items: center;
    gap: 30px;
}

.headerHolderEnterButton{
    height: 30px;
    border: 2px solid rgb(123, 175, 149) !important;
}

.headerHolderSearch,
.headerHolderCart{
    cursor: pointer;
    transition: 0.3 ease;
    opacity: 1;
}

.headerHolderSearch:hover,
.headerHolderCart:hover{
    opacity: 0.65;
}

.headerCategories{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 17px;
    font-weight: 500;
    background-color: #EEE;
}

.headerCategoriesItem{
    color: black;
    transition: color 0.3s ease;
    cursor: pointer;
}

.headerCategoriesItem:hover{
    color: rgb(123, 175, 149)
}

.transferLink{
    text-decoration: none;
}

.headerListHolder{
    position: relative;
    cursor: pointer;
}

.headerList{
    position: absolute;
    z-index: 200;
    top: 10px;
    left: -25px;
    padding: 20px 0px 0px 0px;
    display: none;
}

.headerList li{
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: 10px;
    background-color: rgb(246, 250, 255);
    padding: 10px 20px 10px 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: color 0.3s ease;
    color: #444;
    width: 160px;
}

.headerList li:last-child{
    border-radius: 0 0 5px 0;
}

.headerList li:hover{
    color:rgb(123, 175, 149);
}

.headerListHolder:hover .headerList{
    display: block;
}

.headerList:hover{
    display: block;
} 