.headerHolder{
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.headerHolderImg{
    width: 100px;
    height: auto;
}

.headerHolderInput{
    background-color: #EEE;
    width: 650px;
    height: 50px;
    border-radius: 25px;
    padding-left: 25px;
    font-size: 16px;
}

.headerItemsImgHolder{
    position: relative;
}

.headerHolderSearch{
    position: absolute;
    right: 20px;
    top: 16px;
}

.headerItemsEnterHolder{
    display: flex;
    align-items: center;
    gap: 30px;
}

.headerHolderEnterButton{
    height: 30px;
    border: 2px solid rgb(123, 175, 149) !important;
}

.headerHolderLogOutLink{
    opacity:1;
    transition: 0.3s ease;
    position: relative;
    top: 2px;
}

.headerHolderLogOutLink:hover{
    opacity: 0.65;
}

.headerHolderSearch,
.headerHolderCart{
    cursor: pointer;
    transition: 0.3 ease;
    opacity: 1;
}

.headerHolderSearch:hover{
    opacity: 0.65;
}

.headerCategories{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 17px;
    font-weight: 500;
    background-color: #EEE;
}

.headerCategoriesItem{
    color: black;
    transition: color 0.3s ease;
    cursor: pointer;
}

.headerCategoriesItem:hover{
    color: rgb(123, 175, 149)
}

.transferLink{
    text-decoration: none;
}

.headerListHolder{
    position: relative;
    cursor: pointer;
}

.headerList{
    position: absolute;
    z-index: 200;
    top: 10px;
    left: -25px;
    padding: 20px 0px 0px 0px;
    display: none;
}

.headerList li{
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: 10px;
    background-color: rgb(246, 250, 255);
    padding: 10px 20px 10px 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
    transition: color 0.3s ease;
    color: #444;
    width: 160px;
}

.headerList li:last-child{
    border-radius: 0 0 5px 0;
}

.headerList li:hover{
    color:rgb(123, 175, 149);
}

.headerListHolder:hover .headerList{
    display: block;
}

.headerList:hover{
    display: block;
} 

.headerItemsHolder{
    position: relative;
}

.emptySearch{
    position: absolute;
    border-radius: 15px;
    z-index: 200;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(255, 255, 255);
    left: -10%;
    top: 70px;
    width: 120%;
    height: 200px;
    text-align: center;
    padding-top: 80px;
    font-size: 20px;
    font-weight: 700;
}

.fullSearch{
    position: absolute;
    border-radius: 15px;
    z-index: 200;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(255, 255, 255);
    left: -10%;
    top: 70px;
    width: 120%;
}

.fullSearchChild:last-child{
    border-radius: 0 0 10px 10px;
}

.cartCounterHeader{
    background-color: rgb(123, 175, 149);
    font-size: 11px;
    border-radius: 50px;
    padding: 1px 4px;
    position: absolute;
    right: 65px;
    top: 49px;
    opacity:1;
    z-index: 200;
}

.headerHolderCartAndCartCounterHeader{
    opacity:1;
    transition: 0.3 ease;
}

.headerHolderCartAndCartCounterHeader:hover{
    opacity: 0.65;
}

.headerItemsBurger{
    display: none;
}

.headerItemsCloser{
    display: none;
}

@media (max-width: 993px){
    .headerHolder{
        flex-wrap: wrap;
    }

    .headerItems{
        order: 1;
        padding-bottom: 18px;
    }

    .headerItemsEnterHolder{
        order: 1;
    }

    .headerItemsImgHolder{
        order: 2;
        margin: 0 auto;
    }

    .headerItemsBurger{
        display: block;
        cursor: pointer;
    }

    .headerCategories{
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        right: -100%;
        top: 0px;
        font-size: 15px;
        padding: 50px 40px 20px;
        position: fixed;
        transition: right 1s;
        z-index: 10000;
    }

    .headerCategories.active{
        right: 0;
    }

    .headerItemsCloser{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        width: 16px;
        height: auto;}

    .cartCounterHeader{
        right: 119px;
    }

    .headerList{
        position: absolute;
        z-index: 200;
        top: 0px;
        left: -165px;
        padding: 20px 0px 0px 0px;
        display: none;
    }
}

@media (max-width:760px){
    .headerHolderInput{
        width: 480px;
        height: 45px;
    }
    .headerHolderSearch{
        top: 14px;
    }
}

@media (max-width: 580px){
    .headerHolderInput{
        width: 400px;
        height: 45px;
    }
    .headerHolderSearch{
        top: 14px;
    }

    .headerHolderImg{
        width: 75px;
    }

    .cartCounterHeader{
        right: 119px;
        top: 40px;
    }
}

@media (max-width: 515px){
    .headerHolder{
        padding: 10 29px;
    }
}

@media (max-width: 490px){
    .headerHolderInput{
        width: 300px;
        height: 38px;
    }
}